@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:white@400;700&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
}
.body{
  margin: 0;
}
.page_1 {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #0D1117;
}
.header{
  margin: 0 30px;
  display: flex;
  align-items: center;
}